:root {
  --padding-level: 16px;
  --color-light: #ede9ea;
  --color-white: #f9f9f9;
  --color-dark: #231f34;
  --color-primary: #1469ff;
  --color-secondary: #3e3e53;
}

.row.level-0 {
  padding-left: 0px;
}

.row.level-1 {
  padding-left: var(--padding-level);
}

.row.level-2 {
  padding-left: var(--padding-level);
}

.row.level-3 {
  padding-left: var(--padding-level);
}

.row.level-4 {
  padding-left: var(--padding-level);
}

.row.level-5 {
  padding-left: var(--padding-level);
}

.row {
  margin: 16px 0px;
}

.row label {
  cursor: pointer;
  margin: 1rem 8px;
}

.row label span {
  padding: 8px;
}

.row label input:checked+span {
  background: var(--color-dark);
  color: var(--color-white);
  font-weight: 600;
}