body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@white: #ffffff;

.section-header {
  span {
    color: @white;
    font-weight: 500;
  }
}

.section-userlist {
  margin-left: 50px;
  margin-right: 50px;

  .container-create {
    text-align: right;
  }
}
